.header{
	display: flex;
	height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;
}


.nav-link{
    list-style-type: none;
    margin-right: 0 !important;
    border-radius: 10px;
    border: 3px solid #115be4;
	padding: 5px;
	margin: 5px;


}
.nav-link:hover{
    filter: brightness(150%);

}


.heading-curbside{
    display: flex;
	height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: white;
}

.document-viewing{
	display: flex;
	flex-direction: row;
	height: min-content;
	align-items: center;
	justify-content: center;
}


.report-button:hover {
	filter: brightness(125%);
}

.curbside-home {
	display: flex;
	flex-direction: column;
	height: min-content;
	justify-content: left;
	padding: 10px;
	width: auto;
	height: auto;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 20px;
	outline: 1px solid black;
}

.home-heading {
	font-size: 30px;
	font-weight: bold;

}

.home-subheading {
	font-size: 20px;
	font-weight: bold;
}

.row-div{
	display: flex;
	flex-direction: Row;
	height: min-content;
	justify-content: space-between;
	padding: 10px;
}