.header{
	display: flex;
	height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10px;

}

.users-button{
	border-radius: 10px;
}


.back-button {
	border-radius: 10px;
    outline: 1px solid black;
	width: 40px;
	height: 40px;
	font-size: 15px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;


}

.back-button:hover {
	transform: scale(1.1);
	filter: brightness(125%);
}

.heading-curbside{
    padding: 5px;
    outline: 1px solid black;
    border-radius: 10px;
    display: flex;
	height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.document-viewing{
	display: flex;
	flex-direction: row;
	height: min-content;
	align-items: center;
	justify-content: center;
}

.right-align{
	display: flex;
	margin-right: 2.5%;
}