.add-comment-button {
    border-radius: 25px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin: 10px;
    opacity: .1;
}


.add-comment-button:hover{
    cursor: pointer;    
    transform: scale(1.1);
    opacity: 1;
}
.comment-logo {
    max-width: 40px;
    max-height: 40px;

}

.sidebar-align {
    display: flex;
    flex-direction: column;
    height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    height: min-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    outline: 1px solid black;
    
}

.comment{
    border-radius: 10px;
    padding: 5px;
    outline: 1px solid black;
    margin: 10px;
    transition: all .2s ease-in-out; 
}

.comment:hover{
    transform: scale(1.05);
}

.post {
    padding: 10px;
    border-radius: 25px;
    outline: 1px solid black;

}

#add-comment-image {
    width: 20px;
    height: auto;
}